.updloadimage{
    
    margin-top: 5%;
    margin-bottom: 10%;
    
    width: 100%;
    
}

.alignleft {
    width: 100%;
    text-align: left;
}


.uploadleftdiv{
    left: 20px;
    padding-right: 10%;
}

.uploadrightdiv{
    left : 5%;
    
}

.uploadimagecontainer{
    align-content: center;
    padding-top: 20%;
    background-color: #D8D4D4;
    position: relative;
    
    height:  100%;
    width: 100%;
    border-style: dotted #D8D4D4;
    
    
    
}

.rowheight{
    height:100%;
}

.button{
    padding-top: 6%;
}

.up{
    padding-bottom: 10px;
}